<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>User List</h1>
    <a href="/api/users/new">Create New User</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Second Name</th>
                <th>Age</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${listUsers}">
                <td th:text="${user.id}">User ID</td>
                <td th:text="${user.firstName}">First Name</td>
                <td th:text="${user.lastName}">Second Name</td>
                <td th:text="${user.age}">Age</td>
                <td th:text="${user.department}">Department</td>
                <td>
                    <a th:href="/@{'/api/users/edit/' + ${user.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="/@{'/api/users/delete/' + ${user.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>